*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

:root {
  --up-maroon: #7b1113;
  --up-maroon-1: #9b1518;
  --up-maroon-5: #e85c5f;
  --up-maroon-9: #fadedf;
  --up-forest-green: #014421;
  --light-up-forest-green: #25fb8b;

  --content-bg-grey: #f6f8fA;
  --lighter-grey: #eCeef0;
  --light-grey: #e2e4e8;
}

html {
  height: 100%;
}

body {
  background-color: var(--content-bg-grey);
}

i {
  font-size: 1rem;
}

.customAlert {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 2000;
  top: 0;
  background-color: #000000d0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alertBox {
  height: 15rem;
  background-color: white;
  padding: 2rem;
  box-shadow: 0 0.5rem 1rem 0 #000000f0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.alertMessage {
  text-transform: unset;
}

.alertOkButton {
  align-self: flex-end;
}

/* SCROLL BAR */
::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.75rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
  /* border: 1px solid black; */
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}