body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.side,
.main {
  /* background-color: white; */
  padding: 2rem 1rem;
}

img {
  width: 100%;
  margin-bottom: 1rem;
}

#displayImg:hover {
  cursor: pointer;
  filter: blur(2px);
}

.side-text,
.body-text {
  letter-spacing: 1px;
  font-size: 1rem;
}

.side-header {
  text-transform: capitalize;
  margin: 1rem 0 0;
}

.side-details {
  text-transform: unset;
  color: grey;
}

.main {
  margin: 1rem 0 0 1rem;
}

.body-header {
  border-bottom: 1px solid grey;
}

.body-div {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid var(--light-grey);
}

.body-div-header {
  text-transform: capitalize;
}

.body-div-details {
  text-transform: capitalize;
  color: grey;
}