html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* FOR SIDEBAR */
.sidebar {
  background-color: white;
  border-right: 1px solid var(--light-grey);
}

.sidebar-title {
  margin: 1.5rem 0 0.5rem;
  
  font-size: 1.2rem;
  text-transform: unset;
}

.sidebar-title i {
  font-size: inherit;
}

.kurasu {
  margin: 0.5rem 0;
  padding: 1rem;
  
  border-radius: 0.5rem;
  border: 1px solid var(--light-grey);
}

.kurasu:hover {
  cursor: pointer;
}

.sidebar .active {
  background-color: var(--lighter-grey);
  border-left: 3px solid var(--gray);
  padding-left: calc(1rem - 2px);
}

.title {
  margin-bottom: 0.25rem;
  font-size: 0.9rem;
  text-transform: unset;
  letter-spacing: 1px;
}

.details {
  margin-bottom: 0;
  font-size: 0.75rem;
  color: var(--gray);
  letter-spacing: 1px;
}

/* FOR CONTENT */
.main-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  flex-direction: column;
}

/* ADD ACTIVITY */

.add-button {
  height: 100%;
  width: 100%;
}

.new-activity {
  align-self: flex-end;
  border: none;
  background-color: white;
}

.form-control {
  margin-bottom: 1rem;
}

.form-control:last-child {
  margin-bottom: 0;
}

input[type=number]::-webkit-inner-spin-button {
  display: none;
}

/* TABLE */
.table-nav {
  padding: 0 1rem;
  height: 3rem;
}

.table-nav .nav-tabs {
  border-bottom: none;
}

.table-nav .nav-item {
  margin: 0;
  align-self: flex-end;
}

.table-nav .nav-link {
  margin-top: auto;
  padding: 0.25rem 1rem;
  border: 0.5px solid var(--light-grey);
  border-bottom: none;
  /* border-top-left-radius: 0.25rem; */
  /* border-top-right-radius: 0.25rem; */
}

.table-nav .nav-link:focus {
  outline: none;
}

.table-nav .nav-link:hover {
  border-color: var(--light-grey);
}

.table-div {
  overflow: auto;
}

.table {
  margin: 0;
}

th {
  top: 0;
  box-shadow: inset 0 -2px 0 var(--light-grey);
}

th,
td:first-child {
  white-space: nowrap;
  background-color: white;
  position: sticky;
}

th:first-child,
td:first-child {
  left: 0;
  box-shadow: inset -2px 0 0 var(--light-grey);
}

th:first-child {
  z-index: 100;
  box-shadow: inset 0 -2px 0 var(--light-grey), inset -2px 0 0 var(--light-grey);
}

.cell {
  outline: none;
}

.cell:focus {
  box-shadow: inset 1px 1px 0 grey, inset -1px -1px 0 grey;
}